name: Generate & Build index

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch: {}

jobs:
  build:
    name: Generate Index and md files

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js 14.x
        uses: actions/setup-node@v3
        with:
          node-version: 14.x
          cache-dependency-path: .github/packager/package-lock.json
          cache: "npm"
      - run: npm ci
        working-directory: .github/packager
      - run: npm run build --if-present
        working-directory: .github/packager
      - run: npm run start
        working-directory: .github/packager
      - name: Build | Publish
        uses: softprops/action-gh-release@v1
        with:
          tag_name: release-${{github.run_number}}
          files: output/*
